<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Convidados</title>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="card">
		<div class="card-header">
			<h1>Lista de convidados</h1>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Acompanhantes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>João</td>
						<td>3</td>
					</tr>
					<tr>
						<td>Maria</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Kaike</td>
						<td>4</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



</body>
</html>